/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* Utility Classes */
.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate--infinite {
  animation-iteration-count: infinite;
}

.animate--delay-1s {
  animation-delay: 1s;
}

.animate--fast {
  animation-duration: 0.6s;
}

.animate--slow {
  animation-duration: 3s;
}

/* Animations */
@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-timing-function: ease-in;
}

/* Code to Website */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30%;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0abab5;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

body {
  background-color: rgb(26, 26, 26);
}
#p1 {
  color: #edf0f1;
  border: none;
  display: flex;
  justify-content: left;
  padding: 10px 600px;
}
#p2 {
  color: rgb(179, 179, 179);
  border: none;
  display: flex;
  justify-content: left;
  padding: 0px 600px;
}
#p3 {
  color: #edf0f1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: none;
  display: flex;
  justify-content: left;
  padding: 35px 600px;
}
#p4 {
  color: #edf0f1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: none;
  display: flex;
  justify-content: left;
  padding: 0px 600px;
}
#p5 {
  color: #edf0f1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: none;
  display: flex;
  justify-content: left;
  padding: 35px 600px;
}

#list {
  color: #edf0f1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: none;
  padding: 0px 617px;
}
